<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.dish') %></th>
      <th><%= t('.weekday') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.dish %></td>
        <td><%= menu.weekday %></td>
        <td><%= link_to t('.show'), menu %></td>
        <td><%= link_to t('.edit'), edit_menu_path(menu) %></td>
        <td><%= link_to t('.destroy'), menu, method: :delete, data: { confirm: t('.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_menu_path %>
