<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.dish') %></strong>
  <%= @menu.dish %>
</p>

<p>
  <strong><%= t('.weekday') %></strong>
  <%= @menu.weekday %>
</p>

<%= link_to t('.edit'), edit_menu_path(@menu) %> |
<%= link_to t('.back'), menus_path %>
