<h1><%= t('.title') %></h1>


<script>
var html_id_restaurants = document.getElementById('restaurants');

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else {
    alert("<%= t('.browser_not_supported') %>");
  }
}

function showError(error) {
  alert(error.message);
  switch(error.code) {
    case error.PERMISSION_DENIED:
      alert("denied")
      html_id_restaurants.innerHTML = "<%= t('.geo_user_denied') %>";
      break;
    case error.POSITION_UNAVAILABLE:
      html_id_restaurants.innerHTML = "<%= t('.geo_location_unavaliable') %>";
      break;
    case error.TIMEOUT:
      html_id_restaurants.innerHTML = "<%= t('.geo_timeout') %>";
      break;
    case error.UNKNOWN_ERROR:
      html_id_restaurants.innerHTML = "<%= t('.geo_unknow_error') %>";
      break;
  }
}

function showPosition(position) {
  $.ajax({
    type : 'POST',
    url : 'nearby_restaurants/get_by_location',
    data : {
      latitude : position.coords.latitude,
      longitude : position.coords.longitude
    },
    beforeSend : function() {},
    success : function(data) {
      $('#restaurants').empty();
      $.each(data, function(index, restaurant) {
        $('#restaurants').append('<tr><td>' + restaurant + '<td/></tr>');
      });
    },
    allways : function() {}
  });
}

$(document).ready(function() {
  getLocation();
}); 
</script>

<div id='restaurants'>

    <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
    </div>

</div>

