<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.price') %></th>
      <th><%= t('.latitude') %></th>
      <th><%= t('.longitude') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.price %></td>
        <td><%= restaurant.latitude %></td>
        <td><%= restaurant.longitude %></td>
        <td><%= link_to t('.show'), restaurant %></td>
        <td><%= link_to t('.edit'), edit_restaurant_path(restaurant) %></td>
        <td><%= link_to t('.destroy'), restaurant, method: :delete, data: { confirm: t('.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_restaurant_path %>
