<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.name') %></strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong><%= t('.price') %></strong>
  <%= @restaurant.price %>
</p>

<p>
  <strong><%= t('.latitude') %></strong>
  <%= @restaurant.latitude %>
</p>

<p>
  <strong><%= t('.longitude') %></strong>
  <%= @restaurant.longitude %>
</p>

<%= link_to t('.edit'), edit_restaurant_path(@restaurant) %> |
<%= link_to t('.back'), restaurants_path %>
